@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h3,
h6 {
  font-family: var(--font-rubik) !important;
}

p,
li {
  font-family: var(--font-inter) !important;
  opacity: 0.9;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */